#getWeather {
    height: 70px;
    width: 200px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Fresca', sans-serif;
    background-color: #FFFFFF;
    color: #002db3;   
}

#getWeather:hover {
    background-color: #002db3;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
}